

/* part:5*/
.speech {
    font-size: 16px;
    color: black;
}
.direction {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0%;
    color: brown;
}
.direction:hover {
    color:black;
    background-color: antiquewhite;
}


.NORA{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    color:aquamarine;
}

.PORTER {
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    color:chartreuse;
}


.HELMER {
    font-style:initial;
    color:blue;
} 

.MAID {
    font-style: unset;
    color:chocolate;
}

.table,th,td {
    /*borders, colors, text alignment, and 
row stripes*/
    
    border: 1px solid black;
    color:brown;
    text-align: left;
    margin:auto;
    width: 100px;
    padding-top: 12px;
    
    
}


/* Styles for the name */
.PORTER:hover {
   
    color:brown;
    box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.7);

  }
  
  .HELMER:hover {
    
    box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.7); 
  
   
    border: 2px solid blue; 
  }

  .NORA:hover {
    color:blueviolet;
    box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.7);
  }
  .nav{
    display: inline;
}
  